<div>
    <form  #f="ngForm">
        <section>
            <!-- <button (click)="editTask()">Edit</button> -->
            <button (click)="deleteTask()">Delete</button>
            <!-- <div>Barre d'évolution</div>  <span>{{task?.progression}}%</span>-->
            <!-- <span>Mark complete</span> -->
        </section>
        <section>
            <label for="name">Project's name </label> <input name="name" ngModel #name="ngModel"> <br/> -->
            <label for="name">Estimated time </label> <input name="estimated" ngModel #estimated="ngModel" >
            <label for="name">Deadline </label> <input name="deadline"  ngModel #deadline="ngModel">
            <span>created by {{user_id}}</span>
        </section>
        <section>
            <h3>Members</h3>
            <div>Priority : </div>
            <select name="priority" id="priority" ngModel>
                <option value="none" selected>None</option>
                <option value="high" >High</option>
                <option value="middle" >Middle</option>
                <option value="low" >Low</option>
            </select>
            <ul>
                <li *ngFor="let member of newTask?.assigned">{{member.user_id}}</li>
                <li>
                    <select name="assigned" id="assigned" ngModel #assignation="ngModel" (change)="addAssignedUser(assignation.value)">
                        <option>Assign a member</option>
                        <option *ngFor="let user of project?.users" >{{user.user_id}}</option>
                    </select>
                </li>
            </ul>
        </section>
        <section>
            <h3>Task Description</h3>
            <textarea name="description" ngMaxlength="250" ngModel></textarea>
        </section>
        <!-- <section>
            <div *ngFor="let comment of task?.comments">
                <h4>{{getMember(comment.author_id)}} - {{comment.date}}</h4>
                <span>{{comment.comment}}</span>
            </div>
            <span>{{logged.username || logged.firstname || logged.email || 'Your comment'}} :</span>
            <textarea ngModel name="newComment" maxlength="250"></textarea>
            <button (click)="sendComment(f.value.newComment)">Send your comment</button>
        </section> -->
        <section>
            <h3>To do list</h3>
            <ul>
                <li *ngFor="let c of newTask?.checklist">
                    <input type="checkbox" [name]="c.name" [id]="c.name" [checked]="c.done" (change)="c.done = $event.currentTarget.checked">
                    <label [for]="c.name">{{c.name}}</label>
                </li>
                </ul>
                <input ngModel name="addingtochecklist" type="text" maxlength="20"> <button (click)="addToCheckList(f.value.addingtochecklist)">Add item</button>
        </section>
        <!-- <section>
            <h3>Time spend</h3>
            <input ngModel name="spend" type="text" maxlength="20"> <button (click)="addTime(f.value.spend)">Add my time</button> <br/>
            <span>Total time : {{ 'NEED TO UPDATE DB '}}</span> <br/>
            <span *ngIf="task?.assigned">My time : {{time_total }}</span>
        </section> -->
        <button (click)="createTask(f)">Update task</button>
    </form>
</div>