<div>
    <div>
        <h1>My Profil settings</h1>
    </div>
    <div>
        <a href="">Edit</a>
        <a href="">Delete</a>
    </div>
</div>

<div>
    <div>
        <img src="" alt="Photo de profil">
    </div>
    <div>
        <h2>Section Comment</h2>
    </div>
</div>

<div>
    <form [formGroup]="form">
        <label for="username">Username</label>
        <input 
        type="text" 
        name="username" 
        id="username"
        formControlName="username"
        > 
        <br />

        <label for="firstname">Firstname</label>
        <input 
        type="text" 
        name="firstname" 
        id="firstname"
        formControlName="firstname"
        >
        <br />
        
        <label for="lastname">Name</label>
        <input 
        type="text" 
        name="lastname" 
        id="lastname"
        formControlName="lastname"
        >
        <br />
        
        <label for="email">Email</label>
        <input 
        type="text" 
        name="email" 
        id="email"
        formControlName="email"
        >
        <br />
        
        <label for="password">Password</label>
        <input 
        type="password" 
        name="password" 
        id="password"
        formControlName="password"
        >
        <br />
        
        <label for="phone">Telephone</label>
        <input 
        type="text" 
        name="phone" 
        id="phone"
        formControlName="phone"
        >
        <br />
        
        <label for="company">Company</label>
        <input 
        type="text" 
        name="company" 
        id="company"
        formControlName="company"
        >
        <br />

        <h3>Links</h3>

        <label for="github">Github</label>
        <input 
        type="text" 
        name="github" 
        id="github"
        formControlName="links"        
        >
        <br />

        <label for="linkedin">Linkedin</label>
        <input 
        type="text" 
        name="linkedin" 
        id="linkedin"
        formControlName="links"
        >
        <br />
    </form>
</div>