<div>
    <div>
        <h1>My Profil settings</h1>
    </div>
    <div>
        <a routerLink="/user/:id">Profil</a>
    </div>
</div>

<div>
    <div>
        <img src="" alt="Photo de profil">
    </div>
    <div>
        <h2>Section Comment</h2>
    </div>
</div>

<div>
    <form [formGroup]="form" (submit)="submitForm()">

        <mat-form-field>
            <label for="username">Username</label>
            <input 
            matInput
            type="text" 
            name="username" 
            id="username"
            formControlName="username"
            >
            <mat-error 
            *ngIf="form.controls['username'].invalid">
            {{getErrorMessage('username')}}
            </mat-error>
        </mat-form-field>
        <br />

        <mat-form-field>
        <label for="firstname">Firstname</label>
            <input 
            matInput
            type="text" 
            name="firstname" 
            id="firstname"
            formControlName="firstname"
            >
            <mat-error 
            *ngIf="form.controls['firstname'].invalid">
            {{getErrorMessage('firstname')}}
            </mat-error>
        </mat-form-field>
        <br />
        
        <mat-form-field>
            <label for="lastname">Name</label>
            <input 
            matInput
            type="text" 
            name="lastname" 
            id="lastname"
            formControlName="lastname"
            >
            <mat-error 
            *ngIf="form.controls['lastname'].invalid">
            {{getErrorMessage('lastname')}}
            </mat-error>
        </mat-form-field>
        <br />
        
        <mat-form-field>
            <label for="email">Email</label>
            <input 
            matInput
            type="text" 
            name="email" 
            id="email"
            formControlName="email"
            >
            <mat-error 
            *ngIf="form.controls['email'].invalid">
            {{getErrorMessage('email')}}
            </mat-error>
        </mat-form-field>
        <br />
        
        <mat-form-field>
            <label for="password">Password</label>
            <input 
            matInput
            type="password" 
            name="password" 
            id="password"
            formControlName="password"
            >
            <mat-error 
            *ngIf="form.controls['password'].invalid">
            {{getErrorMessage('password')}}
            </mat-error>
        </mat-form-field>
        <br />
        
        <mat-form-field>
            <label for="phone">Telephone</label>
            <input 
            matInput
            type="text" 
            name="phone" 
            id="phone"
            formControlName="phone"
            >
            <mat-error 
            *ngIf="form.controls['phone'].invalid">
            {{getErrorMessage('phone')}}
            </mat-error>
        </mat-form-field>
        <br />
        
        <mat-form-field>
            <label for="company">Company</label>
            <input 
            matInput
            type="text" 
            name="company" 
            id="company"
            formControlName="company"
            >
            <mat-error 
            *ngIf="form.controls['company'].invalid">
            {{getErrorMessage('company')}}
            </mat-error>
        </mat-form-field>
        <br />

        <h3>Links</h3>

        <mat-form-field>
            <label for="github">Github</label>
            <input 
            matInput
            type="text" 
            name="github" 
            id="github"
            formControlName="links"        
            >
            <mat-error 
            *ngIf="form.controls['links'].invalid">
            {{getErrorMessage('links')}}
            </mat-error>
        </mat-form-field>
        <br />

        <mat-form-field>
            <label for="linkedin">Linkedin</label>
            <input 
            matInput
            type="text" 
            name="linkedin" 
            id="linkedin"
            formControlName="links"
            >
            <mat-error 
            *ngIf="form.controls['links'].invalid">
            {{getErrorMessage('links')}}
            </mat-error>
        </mat-form-field>
        <br />

        <button mat-raised-button>Submit</button>

    </form>
</div>