<mat-card (click)="openPopup(task._id)">
    <mat-card-title>
        <div [ngSwitch]="task.priority">
            <div *ngSwitchCase="'high'">
                <span style="background-color: red;" title="High Priority"></span>
            </div>
            <div *ngSwitchCase="'middle'">
                <span style="background-color: orange;" title="Middle Priority"></span>
            </div>
            <div *ngSwitchCase="'low'">
                <span style="background-color: green;" title="Low Priority"></span>
            </div>
            <div *ngSwitchDefault>
                <span style="background-color: grey;" title="No Priority"></span>
            </div>
        </div>
        <h6>{{ task.name }}</h6>
    </mat-card-title>
    <mat-card-content>
        <!-- <div *ngIf="task.assigned?.length != 0"  class="task--collaborators">
            <div *ngFor="let user of task.assigned; let i=index" >
                <img class="task--assigned" [src]="user.avatar_url" [alt]="user.email" [title]="user.email" *ngIf="i<4">
            </div>
        </div> -->

        <div *ngIf="tempAvatar != 0"  class="task--collaborators">
            <div *ngFor="let user of tempAvatar; let i=index" >
                <img class="task--assigned" [src]="user" *ngIf="i<4">
            </div>
        </div>

        <div class="task--info">
            <p *ngIf="task.comments?.length != 0">
                <fa-icon [icon]="faCommentDots" size="1x"></fa-icon>
                {{ task.comments?.length || '0' }} 
            </p>
            
    
            <p *ngIf="task.checklist?.length != 0">
                <fa-icon [icon]="faTasks" size="1x"></fa-icon>
                {{ checkedList || '0' }}/{{ task.checklist?.length }}
            </p> 

            <p>
                <fa-icon [icon]="faClock" size="1x"></fa-icon>
                {{ task.deadline | date:"dd/MM/yy" }}
            </p>
        </div>
    </mat-card-content>
    <!-- <button >show me ur task</button> -->
</mat-card>