@import '../../../../variables';
@import '../../../../mixins';

.sidebar {
  padding: 0;
  margin: 0;
  width: 100px;
  height: 100vh;
  background-color: $colorNavBar;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  .logo {
    padding-top: 30px;
    height: 50px;
    cursor: pointer;

    .logocroco {
      margin: 10px;
      outline: none;
      width: 80px;
    }
  }

  .menu {
    width: 100px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 184px 0 0 0;
    float: left;

    li {
      display: block;
      float: left;
      width: 100%;
      margin-top: 35px;

      .is-active {
        border-left: 3px solid $colorNavBarIconHover;
        border-color: $colorNavBarIconHover;

        fa-icon {
          color: $colorNavBarIconHover;
        }
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 0;

        fa-icon {
          width: 37px;
          height: 100%;
          color: $colorNavBarIcon;
          display: flex;
          justify-content: center;
          transition: color .8s cubic-bezier(0.075, 0.82, 0.165, 1);

          &:hover {
            color: $colorNavBarIconHover;
          }
        }

        &:focus {
          outline: none;
        }
      }
    }
  }

  .exit {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    padding-bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

    fa-icon {
      color: $colorNavBarIcon;

      &:hover {
        color: $colorNavBarIconHover;
        transition: color .8s cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      &:focus {
        outline: none;
      }
    }

  }

}
