@import '../../../../variables';
@import '../../../../mixins';

.background{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url("../../../../assets/img/background/tache.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}
.login{
    width: 320px;
    height: 500px;
    margin: 0 auto;  
    position: relative;
    box-sizing: border-box;
    flex-direction: column;
}
h2{
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: inherit;
}
mat-card{
    background: none;
    margin: auto;
    text-align: center;
}
mat-form-field{
    width: 250px;
    margin-top: 20px;
    mat-icon{
        color: #0A3D62;
    }
}
button {
    width: 80px;
    margin-top: 75px;
    border-radius: 20px;
    background-color: #0A3D62;
    color: #C0FFB3;
    justify-content: center;
    align-items: center;
    text-align: center;        
}
.signUp{
    position: absolute;  
    width: 320px;
    height: 150px;    
    flex-direction: column;
    justify-content: space-between;
}
.Imagebasgauche{
    display: flex;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.Imagebasdroite{
    display: flex;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.registerLink{
    position: absolute;
    bottom: 40px;
    left: auto;
    a{
        color: #52DE97;
    }
}
.sources {
    text-decoration: none;
    color:$colorText;
}

#mascotte {
    margin-top: 20px;
    width: 500px;
}