.background{
    
    height: 100vh;
    background-image: url("../../../../assets/img/background/backgroundAkroko.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    margin-bottom: 20px;
    font-size: 3em;
}

mat-card{
    width: 800px;
    margin: auto;
}

mat-form-field{
    width: 300px;
    margin-top: 10px;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

button {
    width: 200px;
    margin-top: 20px;
}