.task-list{
    font-size: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    font-weight: normal;
}

.container{
    display: flex;
    flex-direction: row;
    margin: 30px;
}
.display{
    display: none;
}

section{
    margin-top: 20px;
}
h1{
    font-size: 3em;
    font-weight: inherit;
}

.tasks{
    border-bottom: solid 1px black;
    width: 75%;
    position: relative;
    font-weight: inherit;
}
.projects{
    border-bottom: solid 1px black;
    width: 75%;
    font-weight: inherit;
}

app-project{
    cursor: pointer;
}
app-common-task{
    cursor: pointer;
}
.hidden {
    display: none;
}