<div class="content">
        <h1>Home</h1>
    <section>
        <h3 class="tasks">
            Tasks Completed Soon
            <span class="task-list"><a routerLink="/task-list/:id">See complete list</a></span>
        </h3>
        <div class="container" >
            <ng-container *ngFor="let task of tasks | slice:0:5; let i = index">
                <app-common-task [task_id]="task?._id" [project_id]="task?.project_id" (click)="openPopup(i)">
                </app-common-task>
            </ng-container>
        </div>
    </section>
    <section>
        <h3 class="tasks">Favorites Projects</h3>
        <div class="container">
            <ng-container *ngFor="let project of user?.projects | slice:0:5">
                <app-project [project_id]="project?.project_id" *ngIf="project?.favorite === true"
                    ></app-project>
            </ng-container>
        </div>
    </section>
</div>