@import '../../../../variables';
@import '../../../../mixins';

.background{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url("../../../../assets/img/background/tache.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    
}

h2{
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: inherit;
}
strong{
    font-size: 1.5em;
}
.Imagebasgauche{
    display: flex;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.Imagebasdroite{
    display: flex;
    position: absolute;
    right: 0px;
    bottom: 0px;
}