<div class="background">
  <div class="sendInformation">
    <h2>Informations sent!</h2>
    <p>A new password has been sent to your email <strong>{{email}}</strong></p>
    <p>You will receive this email within 5 minutes. Don't forget to check your spam folder</p>

    <div class="Imagebasgauche">
      <img src="../../../../assets/img/background/plantebasgauche.png" alt="plante bas gauche">

    </div>
    <div class="Imagebasdroite">
      <img src="../../../../assets/img/background/plantebasdroite.png" alt="plante bas droite">
    </div>
  </div>
</div>
