@import '../../../../variables';
@import '../../../../mixins';


.task{
    width:150px;
    height: 150px;
    border-radius: 30px;
    background: red;
    position: relative;
    text-align: center;
    line-height: 150px;
    margin-right: 20px;
    fa-icon{
        font-size: 4rem;
        color: white;
        
      }
}
span{
    color: green;
    width: 150px;
    display: block;
    text-align: center;
}