@import '../../../../variables';
@import '../../../../mixins';


.task{
    width:150px;
    height: 150px;
    border-radius: 30px;
    background: rgba(197, 197, 197, 0.3);
    position: relative;
    text-align: center;
    line-height: 150px;
    margin-right: 20px;
    cursor: pointer;
    fa-icon{
        font-size: 4rem;
        color: white;
    }
}

.name {
    width: 150px;
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    margin: 5px 0 0 0;
    line-height: 1.2;
}