.task{
    width:150px;
    height: 150px;
    border-radius: 30px;
    background: red;
    margin-top: 50px;
    position: relative;
}
span{
    color: green;
    width: 150px;
    display: block;
    text-align: center;
}