@import '../../../variables';
@import '../../../mixins';

.git{
    @include btnAdd;
}

img{
    border-radius: 50%;
}
h2{
    font-weight: inherit;
}
h4{
    font-weight: inherit;
}

h4{
    color:$colorNavBar;
    margin-bottom: 10px;
}

.projectdetails{
    display: flex;
    flex-direction: column;

}


.projecttitle{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px 10px 10px 0px;
    border-bottom: 1px solid $colorNavBar;
    .projectdate{
        display:flex;
        flex-direction: row;
        align-items: center;
        div{
            margin-left: 5px;
        }
    }
    .startdate{
        background-color:$colorNavBarIconHover;
        color:white;
        border-radius: 50px;
        padding:5px 20px;
    }
    .enddate{
        background-color:$colorBgButtonDelete;
        color:white;
        border-radius: 50px;
        padding:5px 20px;
    }
}


.addamember{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    mat-form-field{
        width: 300px;
    }


}

.members{
    .memberlist{
        display:flex;
        .avatar{
            position:relative;
            width: 60px;
            margin-right: 10px;
        }
        img{
            z-index: 0;
        }
        button{
            position:absolute;
            z-index: 2;
    
            top:0;
            left:0;
    
            width:60px;
            height:60px;
            
            opacity:0;
            &:hover{
                opacity:1;
            }
        }
    }
}

.projectdescription{
    margin-top: 20px;
    p{
        margin-bottom: 10px;
    }
}