<div class="projectdetails">

    <!-- <div>
        <button class="middlebuttondelete" (click)="deleteProject()">Delete</button>
    </div> -->

    <div class="projecttitle">
        <div>
            <h2>{{project?.name}}</h2>
        </div>
        <div class="projectdate">
            <div class="startdate">
                {{project?.start_date | date : 'shortDate' : '' : 'en'}}
            </div>
            <div class="enddate">
                {{project?.deadline | date : 'shortDate' : '' : 'en'}}
            </div>
            <div>
                <a [href]="project.git" class="git">
                    <fa-icon [icon]="github"></fa-icon>
                </a>
            </div>
        </div>
    </div>



    <div class="members">

        <h4>Members</h4>
        <div class="memberlist">
            <div class="avatar" *ngFor="let user of project?.users; let index = index">
                <img src="{{user.avatar_url}}" alt="user : {{user.email}}"/>
                <button *ngIf="user.user_id !== current_user" class="deletebutton" (click)="deleteMembers(index)"
                    type="submit" title="Remove {{user.email}}">
                    <fa-icon [icon]="trash"></fa-icon>
                </button>
            </div>
        </div>
        <br />
        <div class="addamember">

            <div>
                <mat-form-field>
                <label for="email">Add a member</label>
                <input matInput type="email" #email (keyup.enter)='addMembers(email)'>
                </mat-form-field>
                <p *ngIf="isShow">{{msgError}}</p>
            </div>

            <div>
                <button (click)='addMembers(email)' class="middlebutton">
                    Add member
                </button>
            </div>
        </div>

    </div>


    <div class="projectdescription">
        <h4>Project's description</h4>
        <p>{{project?.description}}</p>
        <p>Access : {{isPrivate}}</p>
        <app-comment [project]="project"></app-comment>

    </div>


</div>