
    <div>
        <span><a routerLink="/project/details/{{project?._id}}/edit">Edit</a></span><span (click)="deleteProject(project._id)">Delete</span>
    </div>
    <div>
        <h2>{{project?.name}}
            <span>
                ({{project?.start_date | date : 'shortDate' : '' : 'en'}})
            </span>
            <span>
                ({{project?.deadline | date : 'shortDate' : '' : 'en'}})
            </span>
            <span>
                Created by {{project?.author_id}}
            </span>
        </h2>
        <p>Status : {{project?.status}}</p>
        <h4>Members</h4>
        <div *ngFor="let user of project?.users">
            <img src="{{user.avatar_url}}" alt="user : {{user.user_id}}" title="{{user.user_id}}"> <span>+</span>
        </div>
        <h4>Project's description</h4>
        <p>{{project?.description}}</p>
        <div *ngFor="let comment of project?.comments">
            <p>{{comment.author_id}}</p>
            <p>{{comment.comment}}</p>
        </div>
        <form [formGroup]="formComment">
            <mat-form-field>
                <textarea matInput placeholder="Comment" formControlName="comment" (keyup.enter)="addComment()" ></textarea>
                <mat-error *ngIf="formComment.controls['comment'].invalid">The content is too heavy</mat-error>
            </mat-form-field>
        </form>
        <p>{{isPrivate}}</p>
    </div>
