.toggleContent{
    width: 400px;
 
    cursor: pointer;
    fa-icon{
        float: left;
        padding-right: 10px;
        vertical-align: center;
    }
    h4{
        width: 600px;
        border-bottom: 1px solid black;
        background: red;
    }
}
 

 
