.zippy{
    .zippy__title{
        display: flex;
        cursor: pointer;
        h4{
            width: 600px;
            padding-left: 10px;
            border-bottom: 1px solid black;
        }
    }
    
}
 

 
