#tasks{
    display: flex;
    flex-direction: column;
}

.task{
    display: flex;
    padding: 1rem;
    border-bottom: 1px solid #444;
}

.taskname{
    width:80%;
}

.tasklabel{
    width: 10%;
    display:flex;
    flex-direction: row;
    p{
        padding:10px;
        border-radius: 5px;
        font-weight: bolder;
    }
}






.taskdeadline{
    width: 10%;
}

table{
    width: 100%;
    tr{
        border-bottom: 1px solid grey;
        td{
            padding: 15px 0px;
            .labelcolor, .priority{
                padding: 5px;
                border-radius: 5px;
                font-weight: bolder;
                margin-right: 5px;
            }
        }
    }
}