@import '../../../../variables';
@import '../../../../mixins';

.navbar {
  display: flex;
  margin-top: 30px;
  padding: 0;
  width: 100%;
  height: 45px;
  justify-content: flex-end;

  &:last-child{
    margin-right: 0;
  }
  

  ul {
    width: 100%;
    display: flex;    
    justify-content: flex-end;
    margin-right: 35px;
    li {
      display: flex;
      justify-content: space-between;

      &:first-child {
          margin-right: 35px;
      }

    }
   
    }

    .avatar{
      height: 40px;
      width: 40px;
      border-radius: 100%;
      overflow: hidden;
      position: relative;
      cursor: pointer;
      outline: none;
  
      * {
          position: absolute;
          left: 50%;
          transform: translateX(-50%);
          width: auto;
          height: 100%;
      }
    }

    a{
      @include btnAddNavBar;
    }
  }


  
