<div>
    <ul>
        <li><a 
            routerLink="/home">
            Home
            </a>
        </li>
        <li><a 
            routerLink="/projects/:id">
            Board
            </a>
        </li>
        <li><a 
            routerLink="/task-list/:id">
            Task List
            </a>
        </li>
        <li><a 
            routerLink="/log">
            Logs
            </a>
        </li>
        <li><a 
            routerLink="/user/:id">
            Profil
            </a>
        </li>
    </ul>
</div>