<div class="content">
    <header class="project--header">

        <div class="project--title">
            <span class="project--color" [ngStyle]="{'background-color': projects?.color}"></span>
            <h2> {{ projects?.name }}</h2>
        </div>

        <div class="project--collaborators">
            <div *ngFor="let user of users">
                <img [src]="user.avatar_url" [alt]="user.email" [title]="user.email">
            </div>
        </div>
    </header>

    <div class="project--filter">
        <button (click)="allTasks()" class="active-btn">All tasks</button>
        <button (click)="onlyMyTasks()">My tasks</button>
        <button (click)="openPopup()">Create Task</button>
    </div>

    <section class="task--board">

        
        <div 
            class="task--col"
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="todoArray"
            [cdkDropListConnectedTo]="[doingList, doneList, pausedList]"
            (cdkDropListDropped)="drop($event)">
            <h3>Todo</h3> 
            <div *ngFor="let task of todoArray" cdkDrag> 
                <app-task-tile class="moving-tile" [task]="task" [id]="task._id"></app-task-tile>  
            </div> 
        </div>

        <div 
            class="task--col"
            cdkDropList
            #doingList="cdkDropList"
            [cdkDropListData]="doingArray"
            [cdkDropListConnectedTo]="[todoList, doneList, pausedList]"
            (cdkDropListDropped)="drop($event)">
            <h3>Doing</h3>
            <div *ngFor="let task of doingArray" cdkDrag>  
                <app-task-tile class="moving-tile" [task]="task" [id]="task._id"></app-task-tile>
            </div> 
        </div>



        <div 
            class="task--col"
            cdkDropList
            #doneList="cdkDropList"
            [cdkDropListData]="doneArray"
            [cdkDropListConnectedTo]="[todoList, doingList, pausedList]"
            (cdkDropListDropped)="drop($event)">
            <h3>Done</h3>
            <div *ngFor="let task of doneArray" cdkDrag>
                <app-task-tile class="moving-tile" [task]="task" [id]="task._id">
                </app-task-tile>
            </div>
        </div>


        <div 
            class="task--col"
            cdkDropList
            #pausedList="cdkDropList"
            [cdkDropListData]="pausedArray"
            [cdkDropListConnectedTo]="[todoList, doingList, doneList]"
            (cdkDropListDropped)="drop($event)">
            <h3>Paused</h3>
            <div *ngFor="let task of pausedArray" cdkDrag >
                <app-task-tile class="moving-tile" [task]="task" [id]="task._id" >
                </app-task-tile>
            </div>
        </div>
    </section>
</div>

<!-- <app-form-edit-task 
    [hidden]="isHidden"
    [task_id]="task_id" 
    [project_id]="project_id" 
    [user_id]="user_id" >
</app-form-edit-task> -->