
<div class="project--header">
    <h2>    
        <span class="project--color" [ngStyle]="{'background-color': projects?.color}"></span>
        {{ projects?.name }}
    </h2> 

    <!-- <p>My Tasks</p>
    <p>All Tasks</p> -->
    
    <div class="project--collaborators">
        <div *ngFor="let user of users">
            <img [src]="user.avatar_url" [alt]="user.email" [title]="user.email">
            <!-- <p>{{user._id}}</p> -->
        </div>
    </div>
</div>






<h4>Todo</h4>
<ul *ngFor="let task of todoArray">
    <li>
        <app-task-tile [task]="task"></app-task-tile>
    </li>
</ul> 

<h4>Doing</h4>
<ul *ngFor="let task of doingArray">
    <li>
        <app-task-tile [task]="task"></app-task-tile>
    </li>
</ul> 


<h4>Done</h4>
<ul *ngFor="let task of doneArray">
    <li>
        <app-task-tile [task]="task"></app-task-tile>
    </li>
</ul> 


<h4>Paused</h4>
<ul *ngFor="let task of pausedArray">
    <li>
        <app-task-tile [task]="task"></app-task-tile>
    </li>
</ul> 