mat-card-title{
    span {
        height: 10px;
        width: 10px;
        border-radius: 50%;
        display: block;
    }
}

.project {

    &--header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background: bisque;
    }

    &--color {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        display: block; 
    }

    &--collaborators {
        display: flex;
        flex-direction: row;

        div {
            margin-right: 15px;

            img {
                border-radius: 50%; 
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }
}