@import '../../../variables';
@import '../../../mixins';


a{
    color:$colorText;
    text-decoration: none;
}

h1{
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.middlebuttondelete{
    margin-right: 5px;
  }

#global{
    width: 900px;
    margin:auto;
    color:$colorText;
}

#title{
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    ul{
        list-style-type: none;
        display:flex;
    }
    a{
        margin-left: 20px;
        color:$colorText;
        letter-spacing: 5px;
        text-decoration: none;
    }
}

#avatardescription{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    #description{
        border: 2px solid $colorNavBar;
        padding: 15px;
        border-radius: 5px;
        width:80%;
    }
}

.userimage{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    overflow: hidden;
    position: relative;

    * {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: auto;
        height: 100%;

    }
}

#infomembre{
    width: 100%;
    display:flex;
    justify-content: space-between;
    &>div{
        width: 48%;
    }
    fa-icon{
        color : $colorNavBar;
    }
}

.inputinfo{
    display: flex;
    justify-content: space-between;
    border: 2px solid $colorNavBar;
    padding:10px;
    margin : 20px 0px;
    width:100%;
    border-radius: 5px;
    label{
        font-weight: bolder;
    }
    span{
        margin-left: 10px;
    }
}

label{
    margin:0;
}
