<div>
    <div>
        <h1>My Profil settings</h1>
    </div>
    <div>
        <a routerLink="/user-edit/:id">Edit</a>
        <a href="#">Delete</a>
    </div>
</div>

<div>
    <div>
        <img src="" alt="Photo de profil">
    </div>
    <div>
        <h2>Section Comment</h2>
    </div>
</div>

<div>
    <form [formGroup]="form">
        <label for="username">Username : </label>
        <span>{{user.username}}</span>
        <br />

        <label for="firstname">Firstname : </label>
        <span>{{user.firstname}}</span>
        <br />
        
        <label for="lastname">Name : </label>
        <span>{{user.lastname}}</span>
        <br />
        
        <label for="email">Email : </label>
        <span>{{user.email}}</span>
        <br />
        
        <p>Cliquez sur Edit pour changer le password</p>
        
        <label for="phone">Telephone : </label>
        <span>{{user.phone}}</span>
        <br />
        
        <label for="company">Company : </label>
        <span>{{user.company}}</span>

        <br />

        <h3>Links</h3>

        <label for="github">Github : </label>
        <span>{{user.links}}</span>
        <br />

        <label for="linkedin">Linkedin : </label>
        <span>{{user.links}}</span>
        <br />
    </form>
</div>