$colorText : rgb(77, 77, 77);

a{
    // text-decoration: none;
    color:$colorText;
    font-weight: bolder;
}

img {
    display: block;
    margin:auto;
}

#global{
    width: 900px;
    margin:auto;
    color:$colorText;
    text-align: center;
}