@import '../../../variables';
@import '../../../mixins';


a{
    color:$colorText;
    font-weight: bolder;
}

img {
    display: block;
    margin:auto;
}

#global{
    width: 900px;
    margin:auto;
    color:$colorText;
    text-align: center;
}

.mascotte{
    margin-top: 25px;
}