<div class="form-bg">
    <div class="form-content">
        <form [formGroup]="editTask" (ngSubmit)="onSubmit($event)">
            <div class="edit--task">
                <!-- can't stylize form as it's from material -->
                <!-- <section>

                    <div>Barre d'évolution</div>  <span>{{task?.progression}}%</span>
                    <span>Mark complete</span>
                </section> -->
                <section>
                    <mat-form-field>
                        <input matInput placeholder="Task's name" name="name" type="text" formControlName="name"
                            required>
                        <mat-error *ngIf="editTask.controls['name'].invalid">The name is required</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <textarea matInput placeholder="Description" name="description" ngMaxlength="250"
                            formControlName="description"></textarea>
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput placeholder="Time estimated" name="estimated" formControlName="estimated">
                    </mat-form-field>
                    <mat-form-field>
                        <input matInput [matDatepicker]="deadline" placeholder="Deadline" formControlName="deadline">
                        <mat-datepicker-toggle matSuffix [for]="deadline"></mat-datepicker-toggle>
                        <mat-datepicker #deadline></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <p>Priority : </p>
                        <select matNativeControl name="priority" id="priority" formControlName="priority">
                            <option value="none">None</option>
                            <option value="high">High</option>
                            <option value="middle">Middle</option>
                            <option value="low">Low</option>
                        </select> <br />
                    </mat-form-field>
                    <p>created by {{creator}}</p>
                </section>

                <section>
                    <h4>Members</h4>
                    <ul class="ul-from-edit">
                        <li *ngFor="let member of task?.assigned; let i = index" class="task--member">
                            <img src="{{otherTemp[1][i]}}"
                                alt="{{member.user_id}}">
                            <p>{{ otherTemp[0][i] }}</p>
                            <fa-icon class="task--remove" [icon]="faTrash" size="1x" (click)="unnasignedUser(member.user_id)"></fa-icon>
                        </li>
                    </ul>

                    <div class="task--assign">
                        <mat-form-field>
                            <mat-label>Assign a member</mat-label>
                            <mat-select matNativeControl name="assigned" formControlName="assigned" >
                                <mat-option [value]="email" *ngFor="let email of emails; let i = index">{{email}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <button class="middlebutton" (click)="addAssignedUser(editTask.get('assigned').value)">Add member</button>
                    </div>

                    <h4>To do list</h4>
                    <ul class="ul-from-edit">
                        <li *ngFor="let c of task?.checklist; let i = index" class="task--checklist" >
                            <input type="checkbox" [checked]="c.done" name="item-{{i}}" id="item-{{i}}" (click)="isClicked(i)" />
                            <label for="item-{{i}}">{{c.name}}</label>
                            
                            <fa-icon class="task--remove" [icon]="faTrash" size="1x" (click)="removeFromChecklist(i)"></fa-icon>
                        </li>
                    </ul>

                    <div class="task--checklist-add">
                        <input name="addingtochecklist" type="text" maxlength="20" [(ngModel)]="addCheckList"
                        placeholder="Add an item"
                        [ngModelOptions]="{standalone: true}" (keyup.enter)="addToCheckList()">
                        <button class="middlebutton" (click)="addToCheckList()">Add to checklist</button>
                    </div>
                </section>
            </div>

            <div class="task--cta">
                <button type="submit" (click)="onSubmit()" class="bigbutton">Edit Task</button>
                <button (click)="deleteTask()" class="deletebutton">Delete</button>
            </div>
        </form>
    </div>
</div>