@import '../../../../variables';
@import '../../../../mixins';

// .form-bg{
    // width: 100%;
    // min-height: 100vh;
    // background-color: rgba($color: #000000, $alpha: 0.5);
    // position: absolute;
    // left: 0px;
    // top: 0px;
    // display: flex;
    // justify-content: center;
    // margin: 0;
    // padding: 0;
    // z-index: 15;
// }


.form-content{
    align-items: flex-start;
    text-align: center;
    background-color: white;
    border-radius: 30px;
    position: relative;

    .edit--task {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        section {
            display: flex;
            flex-direction: column;
            width: 45%;
            max-width: 400px;
            align-items: flex-start;

            h4 {
                margin-bottom: 10px;
            }

            mat-form-field {
                width: 100%;
            }

            .task{

                &--member {
                    margin-bottom: 10px;
                    text-align: left;

                    img {
                        border-radius: 50%;
                        margin-right: 5px;
                        width: 30px; 
                        height: 30px;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                &--assign {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }

                &--remove {
                    color: rgb(168, 168, 168);
                    margin-left: 5px;
                    &:hover {
                        cursor: pointer;
                    }
                }

                &--checklist {
                    text-align: left;
                }
            }
        }
    }
}
.closer{
    position: absolute;
    right: 15px;
    top: 15px;
}

button{
    @include button;
}

.deletebutton{
    @include deleteButton;
    margin: 0px 5px;
}

.middlebutton{
    @include middleButton;
}