@import '../../../../variables';
@import '../../../../mixins';

// .form-bg{
    // width: 100%;
    // min-height: 100vh;
    // background-color: rgba($color: #000000, $alpha: 0.5);
    // position: absolute;
    // left: 0px;
    // top: 0px;
    // display: flex;
    // justify-content: center;
    // margin: 0;
    // padding: 0;
    // z-index: 15;
// }


.form-content{
    align-items: flex-start;
    text-align: center;
    background-color: white;
    border-radius: 30px;
    position: relative;

    .edit--task {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        section {
            display: flex;
            flex-direction: column;
            width: 45%;
            max-width: 400px;
            align-items: flex-start;

            h4 {
                margin-bottom: 10px;
            }

            mat-form-field {
                width: 100%;
            }

            .ul-from-edit {
                width: 100%;
            }

            .task{

                &--member {
                    margin-bottom: 10px;
                    text-align: left;
                    display: flex;
                    align-items: center;

                    img {
                        border-radius: 50%;
                        margin-right: 5px;
                        width: 30px; 
                        height: 30px;
                    }
                    fa-icon {
                        margin-left: auto;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                &--assign, &--checklist-add {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    width: 100%;

                    button {
                        margin-left: 15px;
                    }
                }

                &--assign {
                    position: relative;

                    mat-form-field {
                        width: 50%;
                    }
                    button {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                &--remove {
                    color: rgb(168, 168, 168);
                    margin-left: 5px;
                    &:hover {
                        cursor: pointer;
                    }
                }

                &--checklist {
                    text-align: left;
                    display: flex;
                    align-items: center;

                    fa-icon {
                        margin-left: auto;
                    }

                    label {
                        margin: 0 0 0 5px;
                    }

                    &-add {
                        margin-top: 15px;
                        input {
                            width: 50%;
                        }
                    }
                }

                &--comments {
                    h4 {
                        text-align: left;
                    }
                }

                &--a-comment {
                    padding-bottom: 15px;
                    margin-bottom: 15px;
                    border-bottom: 1px solid rgb(143, 143, 143);

                    * {
                        text-align: left;
                        display: flex;
                    }

                    &:last-child {
                        border-bottom: none;
                        padding-bottom: 0;
                    }
                }
            }
        }
    }
    .task--cta {
        margin-top: 15px;
        display: flex;
        justify-content: flex-end;
    }
}
.closer{
    position: absolute;
    right: 15px;
    top: 15px;
}

.deletebutton{
    margin: 0px 5px;
}
  
input[type=checkbox]:checked + label {
    text-decoration: line-through;
  } 
