@import '../../../../variables';
@import '../../../../mixins';


.form-content{
    align-items: flex-start;
    text-align: center;
    background-color: white;
    border-radius: 30px;
    position: relative;

    .edit--task {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        section {
            display: flex;
            flex-direction: column;
            width: 45%;
            max-width: 400px;
            align-items: flex-start;

            h4 {
                margin-bottom: 10px;
            }

            mat-form-field {
                width: 100%;
            }

            .ul-from-edit {
                width: 100%;
            }

            .task{

                &--member {
                    margin-bottom: 10px;
                    text-align: left;
                    display: flex;
                    align-items: center;

                    p {
                        margin-left: 5px;
                    }
                    
                    fa-icon {
                        margin-left: auto;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }

                &--assign, &--checklist-add {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    width: 100%;

                    button {
                        margin-left: 15px;
                    }
                }

                &--assign {
                    position: relative;

                    mat-form-field {
                        width: 50%;
                    }
                    button {
                        position: absolute;
                        right: 0;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                &--remove {
                    color: rgb(168, 168, 168);
                    margin-left: 5px;
                    &:hover {
                        cursor: pointer;
                    }
                }

                &--checklist {
                    text-align: left;
                    display: flex;
                    align-items: center;

                    fa-icon {
                        margin-left: auto;
                    }

                    label {
                        margin: 0 0 0 5px;
                    }

                    &-add {
                        display: flex;
                        justify-content: space-between;
                        margin-top: 15px;

                        input {
                            width: 50%;
                            padding-left: 5px;
                        }
                    }
                }

                &--comments {
                    overflow: auto;
                    padding-right: 14px;
                }

                &--mainComm {
                    width: 100%;
                    display: flex;
                    flex-direction: column;

                    h4 {
                        text-align: left;
                    }

                    &-textarea-btn {
                        display: flex;
                        flex-direction: column;

                        button {
                            align-self: flex-end;
                        }
                    }
                }

                &--a-comment {
                    padding-bottom: 15px;
                    margin-bottom: 15px;
                    border-bottom: 1px solid rgb(143, 143, 143);

                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    > div {

                        * {
                            text-align: left;
                            display: flex;
                        }
                    }

                    &:last-child {
                        border-bottom: none;
                        padding-bottom: 0;
                    }
                }

                &--creator {
                    margin-bottom: 15px;
                }

                &--priority {
                    color: rgba(0,0,0,.6);
                }
            }
        }
    }
    
    .task--cta {
        margin-top: 15px;
        display: flex;
        justify-content: flex-end;

        button:not(:last-child) {
            margin-right: 10px;
        }
    }
}

.closer{
    position: absolute;
    right: 15px;
    top: 15px;
}
  
input[type=checkbox]:checked + label {
    text-decoration: line-through;
} 


@media screen and (max-height: 700px) {
    .task--comments {
        height: 50px;
    }
}

@media screen and (min-height: 750px) {
    .task--comments {
        height: 50px;
    }
}

@media screen and (min-height: 900px) {
    .task--comments {
        height: 150px;
    }
}
