.toggleContent{
    width: 400px;
 
    cursor: pointer;
    fa-icon{
        float: left;
        padding-right: 10px;
        vertical-align: center;
    }
    h4{
        border-bottom: 1px solid black;
        padding-bottom: 5px;
    }
}
 
.projects{
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
   
    .project{
        width:100px;
        height: 100px;
        background: red;
        border-radius: 30px;
     
    }
}