.toggleContent{
    width: 400px;
    display: flex;
    align-items: center;
 
    cursor: pointer;
    fa-icon{
        float: left;
        padding-right: 10px;
        vertical-align: center;
    }
    h4{
        width: 600px;
        border-bottom: 1px solid black;
        background: green;
    
    }
}

.wrapperProjects{
    display: flex;
    .projects{
        width: 200px;
        display: flex;
        flex-direction: column;
        align-items: space-between;

       .wrapperProject{

        display: flex;
        flex-direction: column;
        align-items: center;
        .project{
            width:150px;
            height: 150px;
            border-radius: 30px;
            background: red;
           
         
        }

        span{
          
            text-align: center;
            margin-top: 15px;
        }
       }
     
    }
}
 
