@import '../../../variables';
@import '../../../mixins';

.wrapperProject{
    display: flex;
    margin-left: 30px;
}

h1{
    font-size: 3em;
    font-weight: inherit;
}

section{
    margin-top: 20px;
}