<div class="background">
    <div class="logo">
        <img class="logocroco" routerLink="/" src="../../../../assets/img/logo/logo-bleu(1).svg"
            alt="Logo Akroko" />
      </div>
  <mat-card class="mat-elevation-z0">
    <mat-card-content>
      <h2>Forgot your Password ?</h2>
      <form [formGroup]="formPass" (submit)="submitPass()">
        <mat-form-field>
          <input matInput placeholder="Email address" type="email" formControlName="emailPass">
          <mat-icon matSuffix>account_circle</mat-icon>
          <mat-error *ngIf="formPass.controls['emailPass'].invalid">{{getErrorMessage('emailPass')}}</mat-error>
        </mat-form-field>
        <div>
          <button mat-stroked-button type="submit" [disabled]="formPass.controls['emailPass'].invalid">Send me
            instructions</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
  <div class="Imagebasgauche">
        <img src="../../../../assets/img/background/plantebasgauche.png" alt="plante bas gauche">
    
      </div>
      <div class="Imagebasdroite">
        <img src="../../../../assets/img/background/plantebasdroite.png" alt="plante bas droite">
      </div>
</div>
