<mat-card>
    <mat-card-content>
        <h2>Forgot your Password ?</h2>
        <form [formGroup]="formPass" (submit)="submitPass()">
            <mat-form-field>
                <input matInput placeholder="Email address" type="email" formControlName="emailPass">
            </mat-form-field>
            <div>
                <button mat-stroked-button type="submit" [disabled]="formPass.controls['emailPass'].invalid">Send Me instruction</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>