@import '../../../../variables';
@import '../../../../mixins';
h2{
    margin-bottom: 20px;
    font-size: 3em;
    font-weight: inherit;
}
.background{
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url("../../../../assets/img/background/tache.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    .logo {
        position: absolute;
        top: 0;
        left: 0;
        padding-top: 30px;
        height: 50px;
        cursor: pointer;
    
        .logocroco {
          margin: 10px;
          outline: none;
          width: 80px;
        }
      }   
}
mat-card{
    background: none;
    margin: auto;
    text-align: center;
}

mat-form-field{
    width: 300px;
    margin-top: 25px;
    mat-icon{
        color: $colorNavBar;
    }
}
button {
    margin-top: 25px;
}
.Imagebasgauche{
    display: flex;
    position: absolute;
    left: 0px;
    bottom: 0px;
}
.Imagebasdroite{
    display: flex;
    position: absolute;
    right: 0px;
    bottom: 0px;
}