@import 'variables';

@mixin button {
    background-color: $colorBgButton;
    font-weight: bolder;
    color:$colorTextButton;
    padding:0.2rem 1.3rem;
    border-radius: 2rem;
    transition: .3s;
    outline: none;
    border: 4px solid rgba(255, 255, 255, 0);

    &:hover, &:active, &:focus {
        color: lighten($colorTextButton, 20%);
        border: 4px solid lighten($colorTextButton, 20%);
    }
}