// $backgroundImage : url("assets/img/background/tache.png");

$colorText : #292929;

$colorNavBar : #0A3D62;
$colorNavBarIcon : #3C698A;
$colorNavBarIconHover : #52DE97;

$colorBgButton : $colorNavBar;
$colorTextButton : $colorNavBarIconHover;
$colorBgButtonDelete : rgb(216, 77, 22);
$colorTextButtonDelete : rgb(216, 77, 22);